@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --cor0:#ebe5c5;
    --cor1:#1C5A94;
    --cor2:#032c53;
    --cor3:#01012d;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #0c75d6;
    height: 100vh;
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor3));
}

header p {
    text-align: center;
}

header img {
    max-width: 100%;

}

main {
    height: 900px;
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: 0px 2px 0px 2px;
    margin: auto;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.422);
}

main p {
    text-align: center;
    padding-top: 20px;
}

main img {
    width: 180px;
}

main h1 {
    font-family: var(--fonte2);
    color: var(--cor1);
    font-size: 3.5em;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.353);
    padding: 20px 0px 0px 0px
}

div.modulo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 11, 11);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline overline;
    padding-top: 30px;
}

div.imagem p {
    padding-top: 80px;
}

div.materiais {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    margin: auto;
    margin-top: 15px;
}

div.materiais p {
    text-align: left;
    padding-left: 30px;
}

div.materiais a {
    color: var(--cor1);
    font-size: 1em;
    text-decoration: none;
}

div.materiais span {
    padding-left: 18px;
}

div.modulos p {
    text-align: center;
    margin-top: 120px;
}

div.modulos a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: none;
    background-color: rgb (0, 0, 0, 0);
    color: var(--cor1);
    text-decoration-style: solid;
}
    
footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
}