@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --cor0:#ebe5c5;
    --cor1:#1C5A94;
    --cor2:#032c53;
    --cor3:#01012d;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #0c75d6;
    height: 100vh;
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor3));
}

header p {
    text-align: center;
}

header img {
    max-width: 100%;

}

main {
    height: 1000px;
    min-width: 300px;
    max-width: 800px;
    background-color: white;

    margin: auto;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.422);
}

main p {
    text-align: center;
}

main img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    margin: 50px 0px 0px 0px;
}

main h1 {
    font-family: var(--fonte2);
    color: var(--cor1);
    font-size: 3.5em;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.353);
    margin-top: 20px;
    padding: 0px 20px 0px 20px
}

div.modulos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: var(--cor1);
    width: 280px;
    text-align: center;
    margin: auto;
    padding: 20px 0px 20px 0px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.374);
}

div.modulos p {
    margin: 20px 0px 20px 0px;
}

div.modulos a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}
    
footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
}