@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --cor0:#ebe5c5;
    --cor1:#1C5A94;
    --cor2:#032c53;
    --cor3:#01012d;

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #0c75d6;
    height: 100vh;
}

header {
    background-image:linear-gradient(to bottom, var(--cor2), var(--cor3));
}

header p {
    text-align: center;
}

header img {
    max-width: 100%;

}

main {
    height: 900px;
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin: 0px 2px 0px 2px;
    margin: auto;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.422);
}

main h1 {
    font-family: var(--fonte2);
    color: var(--cor1);
    font-size: 3em;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.353);
    padding: 20px 20px 0px 20px
}

div.modulo {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 11, 11);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-decoration-line: underline overline;
    padding-top: 60px;
}

div.imagem {
    text-align: center;
}

div.imagem img {
    max-width: 220px;
}

div.link {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

div.link a {
    font-family: var(--fonte1);
    text-decoration: none;
    background-color: #0c75d6;
    color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
}

div.link a:hover {
    background-color: #0d8aff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.438);
}

div.linkacesso {
    margin: auto;
    margin: 70px 0px 80px 0px;
}

div.linkacesso strong{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #032c53;
    color: white;
    padding: 7px;
    border-radius: 15px;

    
}

div.modulos p {
    text-align: center;
    margin-bottom: 20px;
}

div.modulos a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--cor1);
}

footer {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
}